pipeline/pl_orchestration_5_child.json
{
	"name": "pl_orchestration_5_child",
	"properties": {
		"activities": [
			{
				"name": "GetEmailRecipients",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM [dbo].[EmailRecipient]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLTables",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "EmailRecipients"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetEmailRecipients",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetEmailRecipients').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SendEmail",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-30.francecentral.logic.azure.com:443/workflows/5af2afed12ed409391725a8725829e32/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=32yPJNc7mkhKjnA1C2zqR8YQX0eRue6fGDK7WF28O2k",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": "@json(concat('{\"emailAddress\": \"', item().emailAddress,\n'\", \"subject\": \"ADF Pipeline Failure\", \"messageBody\":\n\"ADF Pipeline Failed\"}'))"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}